form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3em 0;
}
.form{
  /* height: 680px; */

}
.button{
  margin: 0 auto;
  display: block;
  font-size: 1.5rem;
  font-family: 'Trade Winds', cursive;
  background: radial-gradient(palegoldenrod 30%, transparent 90%);
  padding: 2px 12px;
  width: 90%;
  max-width: 300px;
  border: 8px inset #9b1d14;
  cursor: pointer;
  outline: none;
}
.button:active{
  color: #e83b17;
}
.button:focus,
.button:hover:not(:disabled){
  box-shadow: -4px -11px 9px 1px #3e2723;
}
*:disabled{
  cursor: not-allowed;
  filter: contrast(0.25);
}
.h2{
  text-align: center;
  font-family: 'Amarante', cursive;
  font-size: 1.875rem;
  width: 90%;
  margin: auto;
  color: #3e2723;
  /* margin-bottom: .6em; */
  text-decoration: underline;
  mask-image: url('../assets/masks/decaying.png');
  -webkit-mask-image: url('../assets/masks/decaying.png');
  /* self-host google font effect mask image due to cors bug introduced with chrome 79 */
}

fieldset{
  border: 1px solid #3e2723;
  width: 80%;
  margin-bottom: 3em;
  max-width: 300px;
  background: linear-gradient(0deg, #ddb77f63 15%, transparent);
}

.radiodiv{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.p,
legend{
  font-family: 'Redressed', cursive;

  text-align: center;
}
legend{
  font-size: 2rem;
}

label{
  position: relative;
  font-family: 'Redressed', cursive;
  font-size: 1.875rem;
}
.check{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 47%;
  margin: .5rem auto;
}
.checkdiv{
  height: 180px;

}
.checkdiv2{
  height: 104px;
}
.checkdiv label{
  align-self: flex-end;
}
.checkdiv label:nth-of-type(1),
.checkdiv2 label{
  align-self: start;
}

.p{
  margin-bottom: .75rem;
  font-size: 1.875rem;
}
.p2{
  margin-bottom: 0;
  text-align: unset;
}
pre{
  background-color: #3e2723;
  font-size: 14px;
  border-radius: 10px;
  padding: 16px;
  -moz-user-select: none;
  user-select: none;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  height: 212px;
  width: 302px;
  margin: 0 auto 4rem;
}
code{
  color: #ededed;
}

section{
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px){
  fieldset{
    max-width: 400px;
  }
  .h2{
    font-size: 2.25rem;
    width: 75%;
  }
  label,
  .p{
    font-size: 2.25rem;
  }
  legend{
    font-size: 2.5rem;
  }
  .radiodiv{
    height: 140px;
  }

  .form{
    /* flex-direction: row; */
    height: 900px;
  }
  .p{
    margin-bottom: 1rem;
  }
  .p2{
    margin-bottom: 0;
  }
  .checkdiv{
    width: 43%;
    height: 210px;
    margin: 1rem auto;
  }
  .checkdiv2{
    width: 42%;
    height: 140px;
    margin: auto;
  }

}
