form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  margin: 1em 0 2em;
}
.h2{
  text-align: center;
  font-family: 'Amarante', cursive;
  font-size: 1.875rem;
  width: 90%;
  margin: auto;
  color: #3e2723;
  /* margin-bottom: .6em; */
  text-decoration: underline;
}
select{
  width: 80%;
  height: 25px;
  background-color: #ededed;
  /* max-width: 300px; */
}
select:focus,
select:hover{
  filter: drop-shadow(-4px -11px 6px #3e2723);
}
fieldset{
  border: none;
  width: 80%;
  max-width: 300px;
}
label,
.p,
legend{
  font-family: 'Redressed', cursive;
  font-size: 1.875rem;
  text-align: center;
}
/* label[for="offsets"]{
  margin-bottom: -1.875rem;
} */
.selectdiv{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 300px; */
}
.checkdiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* max-width: 300px; */
}
.checkdiv input{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.checkdiv input:hover,
.checkdiv input:focus{
  filter: drop-shadow(-4px -11px 6px #3e2723);
}
.checkdiv label:nth-of-type(2n){
  direction: rtl;
}
.checkdiv label:nth-of-type(odd) input{
  margin-left: 6px;
}
.checkdiv label:nth-of-type(2n) input{
  margin-right: 5px;
}
.p{
  margin-bottom: .5rem;
}
pre{
  background-color: #3e2723;
  font-size: 14px;
  border-radius: 10px;
  padding: 16px;
  -moz-user-select: none;
  user-select: none;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  width: 302px;
  margin: 0 auto 4rem;
}
code{
  color: #ededed;
}

section{
  margin-bottom: 4rem;
}











@media screen and (min-width: 768px){
  .h2{
    font-size: 2.25rem;
    width: 75%;
  }
  label,
  .p,
  legend{
    font-size: 2.25rem;
  }
  .selectdiv{
    height: 86px;
  }
  select{
    height: 28px;
    font-size: 1.125rem;
    padding: 2px 0 1px;
  }
  form{
    /* flex-direction: row; */
    height: 300px;
  }
  .p{
    margin-bottom: 1rem;
  }

}














/* 15 */
