*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #3e2723;
  outline: none;
}
body{
  min-height: 100vh;
  background: linear-gradient(rgba(225, 53, 7, .92), rgba(253, 187, 31, .92)), url('../assets/images/map411x731.jpg') no-repeat center/cover;
}
.h1{
  font-size: 4.25rem;
  font-weight: 400;
  text-align: center;
  margin: .5em 0 .75em;
  color: #3e2723;
  font-family: 'Redressed', cursive;
}
.show{
  opacity: 1;
  transition: opacity 1s ease-in;
}
.hide{
  opacity: 0;
}
.button{
  margin: 0 auto;
  display: block;
  font-size: 1.5rem;
  font-family: 'Trade Winds', cursive;
  background: radial-gradient(palegoldenrod 30%, transparent 90%);
  padding: 2px 12px;
  width: 90%;
  max-width: 600px;
  border: 8px inset #9b1d14;
  cursor: pointer;
  outline: none;
}
.button:active{
  color: #e83b17;
}
.button:focus,
.button:hover{
  box-shadow: -4px -11px 9px 1px #3e2723;
}
.button:disabled{
  cursor: not-allowed;
  filter: contrast(0.25);
}
.msg{
  text-align: center;
  margin: 2em auto;
  font-size: 2rem;
  background-color: palegoldenrod;
  font-family: monospace;
  width: 80%;
  /* max-width: 50%; */
}
















@media screen and (min-width: 360px){
  .h1{
    font-size: 5rem;
  }
}
@media screen and (min-width: 414px){
  .h1{
    font-size: 6rem;
  }
}
@media screen and (min-width: 533px){
  .h1{
    font-size: 7rem;
  }
}
@media screen and (min-width: 768px){
  .h1{
    font-size: 8rem;
  }
  body{
    background: linear-gradient(rgba(225, 53, 7, .92), rgba(253, 187, 31, .92)), url('../assets/images/map768x1024.jpg') no-repeat center/cover;
  }
}
@media screen and (min-width: 1500px){
  .h1{
    font-size: 10rem;
  }
  body{
    background: linear-gradient(rgba(225, 53, 7, .92), rgba(253, 187, 31, .92)), url('../assets/images/map1920x1538.jpg') no-repeat center/cover;
  }
}













/* 5 */
