@keyframes blink{
	0% {opacity: 0; }
	20% {opacity: 1; }
  90% {opacity: 1; }
	100% {opacity: 0; }
}
.div{
  display: flex;
  justify-content: center;
  font-size: 8rem;
}
.c1{
  animation: blink 3s linear infinite;
}
.c2{
  animation: blink 2.5s linear 1s infinite;
}
.c3{
  animation: blink 2s linear 2s infinite;
}
