select{
  width: 80%;
  height: 25px;
  background-color: #ededed;
}
.lab{
  text-align: center;
}
.inp:hover,
.inp:focus-within{
  color: #ededed;
}
.inp:after,
.inp:after{
  content: "";
  width: 0%;
  transition: width .2s cubic-bezier(.55, .06, .68, .19);
}
.inp:hover:after,
.inp:focus-within:after{
  display: block;
  width: 80%;
  position: absolute;
  z-index: -1;
  transform: translateX(-50%);
  left: 50%;
  top: 29px;
  border: solid #ededed;
  border-width: 0 0 6px 0;
}
.selectdiv{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px){
  .inp:hover:after,
  .inp:focus-within:after{
    top: 36px;
  }
  .selectdiv{
    height: 140px;
  }
  select{
    height: 28px;
    font-size: 1.125rem;
    padding: 2px 0 1px;
  }
}
