select{
  width: 80%;
  height: 25px;
  background-color: #ededed;
}
.lab{
  text-align: center;
}
.inp:hover:after,
.inp:focus-within:after{
  content: "";
  width: 60%;
  height: 20px;
  position: absolute;
  z-index: -1;
  left: 37px;
  top: 4px;
  background-color: #ededed;
  display: block;
}
.selectdiv{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px){
  .selectdiv{
    height: 140px;
  }
  select{
    height: 28px;
    font-size: 1.125rem;
    padding: 2px 0 1px;
  }
}
